fastapi[standard]
python-dotenv
uvicorn[standard]
motor
pydantic>=2.6
pydantic-settings
beanie
argon2-cffi
fastapi-mail[aioredis]
fastapi-mail[httpx]
python-jose[argon2] 
python-multipart
aiokafka
datasets
beautifulsoup4
notebook
peft
transformers
torch
celery[redis]
redis
flower
itsdangerous